@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

.main-page {
  display: flex;
  font-family: "Work Sans";
}

.boxes-container {
  display: flex;
  text-align: left;
  thead {
    text-align: left;
  }
  th {
    text-align: left;
  }
  .box-title {
    font-size: 14px;
    font-weight: 500px;
    color: #545f7d;
  }

  .boxes {
    display: flex;
    // justify-content: center;
    align-items: center;

    margin: 0 13px;
    padding: 10px;
    border-radius: 4px;
    width: 220px;
    height: 160px;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    .figure {
      font-weight: 600;
      font-size: 24px;
      color: #213f7d;
    }
  }
  .other-area {
    margin-left: 30px;
  }
}

.filter-icon {
  cursor: pointer;
}

.table-container {
  width: 1037px;
  // height: 640px;
  border-radius: 4px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  margin-top: 40px;
  margin-left: 20px;
  .header-titles {
    font-size: 12px;
    color: #545f7d;
    text-align: left;
  }
  tbody {
    font-size: 14px;
    color: #545f7d;
    text-align: left;
  }
  td {
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);
    padding: 23px 0;
  }
  #moreOptions {
    cursor: pointer;
  }
}

.filter-next-section {
  display: flex;
  justify-content: space-between;
  .pagination {
    display: flex;
  }
}

/* MOBILE RESPONSIVENESS */
@media (width <= 600px) {
  .main-page {
    display: flex;
    font-family: "Work Sans";
    overflow: hidden;

    .boxes-container {
      display: grid;
      margin: 0;
      padding: 0;

      // text-align: left;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0;
      column-gap: 0px;

      width: 100vw;
      overflow-x: hidden;
      .boxes {
        width: 150px;
        height: 140px;
        padding: 10px;
        .inner-box {
          h3 {
            font-size: 12px;
          }
        }
      }
    }
    .table-container {
      white-space: nowrap;
      width: 100vw;
      overflow-x: scroll;
    }
    .other-area {
      margin-left: 0;
    }
  }
}
