nav {
  display: flex;
  height: 100px;
  align-items: center;
  margin: 0 30px;
  z-index: 2;
  justify-content: space-between;
  #hamburger-icon {
    width: 30px;
    display: none;
  }
  .profile-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 23px;
    #profile-pic {
      border-radius: 50%;
    }
  }
  input {
    height: 40px;
    width: 400px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #213f7d;
  }
  .btn {
    background-color: #39cdcc;
    width: 56px;
    height: 44px;
    border: none;
    color: #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  #navbarlogo {
    height: 30px;
  }
}

/* MOBILE RESPONSIVENESS */
@media (width <= 600px) {
  .navbar {
    justify-content: space-between;
    gap: 40px;
    .profile-section {
      gap: 4px;
    }
    #hamburger-icon {
      width: 30px;
      display: block;
    }
    #search {
      display: none;
    }
    .not-for-mobile {
      display: none;
    }
  }
}
